<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514341932122-76vio61ib5peh955ohtpe2jvpi3p1dkg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514341932122-76vio61ib5peh955ohtpe2jvpi3p1dkg</string>
	<key>API_KEY</key>
	<string>AIzaSyCvy0i0T26Vrcrf9K0kP8oM-rmlbCf6keY</string>
	<key>GCM_SENDER_ID</key>
	<string>514341932122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseMeetupApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>meetup-flutter-app</string>
	<key>STORAGE_BUCKET</key>
	<string>meetup-flutter-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514341932122:ios:73a47b435319c5a5945c63</string>
</dict>
</plist>